body {
  margin: 0 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#frame-type-fields {
  display: inline-block;

  align-items: center;
  justify-content: center;
}

#url-fields {
  display: inline-block;

}

paper-input {
  margin: 10px 5px;
}

#uid-fields {
  display: none;
}


#buttons {
  display: inline-block;
  margin: 20px;
  padding:10px;
}

#update-button {
  background-color: #4285f4;
}
#stop-button {
  background-color: #db4437;
}

#console-mirror{
  width:500px;
}
